@model PetGrooming.Models.ViewModels.UpdatePet


@{
    ViewBag.Title = "Update";
}

<h2>Update @Model.pet.PetName</h2>
<a class="button" href="/Pet/List">Back to List</a>
<a class="button" href="/Pet/Delete/@Model.pet.PetID">Delete @Model.pet.PetName</a>
<form action="/Pet/Update/@Model.pet.PetID" method="POST">
    <label for="PetName">Pet Name: </label><input type="text" value="@Model.pet.PetName" id="PetName" name="PetName"/><br />
    <label for="PetColor">Pet Color: </label><input type="text" value="@Model.pet.Color" id="PetColor" name="PetColor"/><br />
    <label for="PetWeight">Pet Weight: </label><input type="text" value="@Model.pet.Weight" id="PetWeight" name="PetWeight"/><br />
    <label for="SpeciesID">Species: </label><select name="SpeciesID" id="SpeciesID">
    <!-- Rendering loop-->
    @{
        foreach (var species in Model.species)
        {

            string selected = "";
            if(species.SpeciesID == Model.pet.SpeciesID)
            {
                selected = "selected";
            }

            <option value="@species.SpeciesID" @selected>@species.Name</option>
        }
    }
    </select><br />
    <label for="PetNotes">Pet Notes: </label><textarea id="PetNotes" name="PetNotes">@Model.pet.Notes</textarea>
    <br />
    <input type="submit" value="Update @Model.pet.PetName" />
</form>